/* Основные стили */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрируем содержимое по вертикали */
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Игровое поле */
#game-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

#grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 2px; /* Уменьшаем зазор между клетками для мобильных устройств */
    width: 90vmin; /* Используем минимальное значение из ширины и высоты экрана */
    height: 90vmin; /* Делаем поле квадратным */
    max-width: 90vh; /* Ограничиваем максимальную ширину */
    max-height: 90vw; /* Ограничиваем максимальную высоту */
    margin: 0 auto;
    background-color: #f0f0f0; /* Фон поля, если нужно */
    border: 2px solid #06DDBA; /* Граница поля */
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
}

.cell {
    background-color: #fff;
    border: 2px solid #06DDBA;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #009078;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
    aspect-ratio: 1; /* Сохраняем квадратную форму клеток */
}

.cell.taken-1 {
    background-color: rgba(255, 107, 107, 0.5);
    color: #888;
}

.cell.taken-2 {
    background-color: rgba(76, 175, 80, 0.5);
    color: #888;
}

/* Адаптация для маленьких экранов */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    #rules h2 {
        font-size: 1.2em;
    }

    #rules ol {
        padding-left: 15px;
    }

    .cell {
        font-size: 0.8em;
    }

    #game-info {
        font-size: 1em;
    }

    #number-panel {
        font-size: 1em;
    }

    #logo {
        width: 80px; /* Уменьшаем размер логотипа на маленьких экранах */
    }

    #back-button {
        font-size: 1em; /* Уменьшаем размер кнопки на маленьких экранах */
        padding: 8px 16px;
    }

    #game-message {
        font-size: 1em;
        padding: 10px;
    }

    button {
        padding: 8px 16px;
        font-size: 0.8em;
    }

    #grid {
        width: 95vmin; /* Используем 95% минимального значения из ширины и высоты экрана */
        height: 95vmin; /* Делаем поле квадратным */
        max-width: 95vh; /* Ограничиваем максимальную ширину */
        max-height: 95vw; /* Ограничиваем максимальную высоту */
        gap: 1px; /* Уменьшаем зазор между клетками для мобильных устройств */
    }
}
